@model Index
@{
	ViewBag.MainNav = MainNav.Home;
}

<div class="hero-unit">
	<h1>Welcome!</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed ultricies mi. Suspendisse justo nulla, feugiat eget iaculis at, ornare in justo. Etiam justo augue, dignissim sit amet aliquam sollicitudin, gravida quis felis. Morbi eget eros nisl, sit amet vehicula arcu. Quisque risus sem, elementum in sollicitudin blandit, dapibus ac orci. Duis ac augue neque, sit amet pretium risus. Integer sagittis neque bibendum mi tincidunt at viverra turpis cursus. Pellentesque vitae lorem risus. Cras in posuere ante.</p>
</div>
