@model ForgotPassword

@{
	Bundles.Reference("~/Content/js/_lib/jquery.validate");
}
@section Title{ 
	Forgot Your Password 
}

<h2>Forgot Your Password</h2>
<div class="well form-horizontal">
	<p>Use the form below to reset your password.</p>
	@Html.ValidationSummary(false)
	
	@using(Html.BeginForm())
	{
		<fieldset>        
			<div class="control-group">
				@Html.LabelFor(x => x.Email)
				@Html.EditorFor(x => x.Email)
				@Html.ValidationMessageFor(x => x.Email)
			</div>
			<button type="submit" class="btn btn-primary">Send</button>
		</fieldset>
	}
</div>