@model InvalidPage

<div class="hero-unit">
	<h1>Page doesn't exist!</h1>
	<p>Sorry, there is no page with that URL.</p>
	<p><a href="@Url.Home().Index()" class="btn btn-primary btn-large">Take me home! &raquo;</a></p>
</div>
