<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="Metrics:Prefix" value="MvcKickstart.Live." xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" xdt:Transform="Replace">
				<network host="localhost" port="25" defaultCredentials="false" />
			</smtp>
		</mailSettings>
	</system.net>
	<log4net>
		<appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net" xdt:Transform="Insert">
			<to value="jim@biacreations.com" />
			<from value="do_not_reply@biacreations.com" />
			<subject value="Error :: MvcKickstart (Live)" />
			<smtpHost value="localhost" />
			<bufferSize value="0" />
			<lossy value="false" />
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR" />
				<param name="LevelMax" value="FATAL" />
			</filter>
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newlineUrl: %property{CurrentRequestUrl}%newlineUser: %property{CurrentRequestUsername}%newlineReferrer: %property{CurrentRequestReferrer}%newlineUser-Agent:%property{CurrentRequestUserAgent}%newline%newline" />
			</layout>
		</appender>
		<root>
			<appender-ref ref="SmtpAppender" xdt:Transform="Insert" />
		</root>
	</log4net>
</configuration>